[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
SQLAlchemy = "1.4.41"
pytest = "*"
alembic = "*"
faker = "*"
ipdb = "*"

[requires]
python_version = "3.12"

[dev-packages]
